body {
  background-color: #fff;
  color: #000;
  font-family: "proxima-nova", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.875;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
